<!DOCTYPE html>
<html>
<head>
	<title>Vue.js</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
</head>
<body>
	<!--跟容器//-->
	<div id='vue-app'>
		<!--把key和value展示出来//-->
		<h1>{{name}}</h1>
		<!--可以直接调用方法//-->
		<p>{{ hello() }}</p>
		<!--绑定属性//-->
		<input type="text" name="" v-bind:value='job'>
		<!--绑定html标签的属性//-->
		<p v-html='web'></p>

		<!--鼠标点击事件//-->
		<button @click.once='jia(1)'>涨一岁(只能点一次)</button>
		<button @click='jian(1)'>减一岁</button>
		<button @dblclick='jia(10)'>涨10岁</button>
		<button @dblclick='jian(10)'>减10岁</button>
		<p>my age is {{age}}</p>

		<!--鼠标事件//-->
		<div id="canvas" @mousemove='move'>
			{{x}},{{y}}
			<!--移动到这个span就阻止这个事件//-->
			- <span @mousemove.stop=''>Stop moving</span>
		</div>
		<a @click.prevent="alert()" href="http://www.baidu.com">百度一下，你就知道</a>

		<hr/>
		<div>
			<h3>键盘事件以及双向绑定</h3>
			<label>姓名：</label>
			<input ref='name' type="text" name="" @keyup='consoleName()'>
			<span>{{superName}}</span>
			<label>年龄：</label>
			<input ref='age' type="text" name="" @keyup='consoleAge()'>
			<span>{{superAge}}</span>
		</div>
		<hr/>
		<br/>
		<div>
			<h3>双向绑定</h3>
			<label>姓名：</label>
			<input ref='name' type="text" name="" v-model='superName'>
			<span>{{superName}}</span>
			<label>年龄：</label>
			<input ref='age' type="text" name="" v-model='superAge'>
			<span>{{superAge}}</span>
		</div>
	<br/>
	<hr/>
	<br/>
		<h3>动态绑定css样式</h3>
		<h4>实例1</h4>
		<div @click="changeSpan = !changeSpan" v-bind:class="{changeColor:changeSpan}"><!--为true才可以看到样式//-->
			<span>Henry</span>
		</div>
		<h4>实例2</h4>
		<div v-bind:class="com">
			<button @click='changeSpan = !changeSpan'>changecolor</button>
			<button @click='changeLen = !changeLen'>changeLength</button>
			<span>BB</span>

		</div>

		<br/>
		<hr/>
		<br/>
		<h3>v-if</h3>
		<button @click='error = !error'>toggle Error</button>
		<button @click='success = !success'>toggle Success</button>
		<!--V-if//-->
		<!--<p v-if="error">V-if-404</p>
		<p v-else-if="success">V-if-200</p>//-->
		<!--V-show//-->
		<p v-show="error">v-show-404</p>
		<p v-show="success">v-show-200</p>

		<br/>
		<hr/>
		<br/>
		<h3>v-for</h3>
		<!--遍历数组//-->
		<label>
			<p v-for="us in user">{{us}}</p>
		</label>
		<!--遍历对象//-->
		<label>
			<p v-for='p in man'>
				{{p.name}} - {{p.age}}
			</p>
		</label>

		<ul>
			<template>
				<li v-for = 'p in man'>{{p.name}} -- {{p.age}}</li>
			</template>
		</ul>

		<!--循环嵌套//-->
		<div v-for = 'a in man'>
			<p v-for = '(b,c) in a '>{{b}} -- {{c}}</p>
		</div>

	</div>

	<hr/>
	<br/>
	<hr/>
	<div id='name'></div>
	<script src='app.js'></script>
</body>

<script type="text/javascript">
	$(function(){
		$.ajax({
			type:'get',
			url:'https://jsonplaceholder.typicode.com/users',
			success:function(data){
				console.log(data);
				for(let i =0 ;i<data.length;i++){
					let oHtml = '<span>'+data[i].username+'</span><br/>';
					$('#name').append($(oHtml));
				}

			},
			error:function(){}
		})
	})
</script>
</html>